<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for post in post_list %}
<p>{{ post.title }} : {{ post.dateCreation }} : {{ post.preview }}</p>
{% endfor %}
</body>
</html>
