{% extends 'news/default.html' %}
{% block title %}
Post
{% endblock title %}
{% block content %}
<h1>Все новости</h1>
{% for post in post_list %}
<p>{{ post.title }} : {{ post.dateCreation }} : {{ post.preview }}</p>
{% endfor %}
{% endblock content %}
